# backend
/backend/build/
/backend/.gradle/
**/*.log
*.out
*.err
/backend/.vscode/tasks.json
/backend/.vscode/launch.json

# frontend
/frontend/node_modules/
/frontend/dist/

# env
.env
application-local.properties

# IntelliJ IDEA
.idea/
*.iml

# Upload files (runtime data)
uploads/
